*{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #5edf59;
    max-width: 100%;
    
}
.container{
    max-width: 100%;
    height: 100vh;
    background-image: url(bc);
    background-color: #5edf59;
    position: relative;
  
    
}
.row{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: block;
    margin-left: 8%;
    
    
}
.content{
    width: 40%;
    height: 500px;
    color: rgb(34, 25, 25);
    text-align: center;
    padding-top: 50px;
    float: left;
    
    margin-left: 3%;
    
}
.content h1{
    font-size: 64px;
    font-weight: 600;
    color: #fff;

}
.content p{
    color: #fff;
    padding: 0px 50px 0 50px;
    
}
.icon{
    display: flex;
    margin: auto;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    

}
a{
    font-size: 25px;
    color: #248257;
    background-color: #f5f7f6;
    margin-right: 15px;
    border-radius: 50%;
    height: 80%;
    width: 40px;
  
    
}
a:hover{
    background-color: #3ea03a;
}
.fa-facebook-f{
   margin-top: 6px;
   
 
 
}
.fa-instagram{
    margin-top: 6px;
  
 }.fa-twitter{
    margin-top: 6px;
  
 }.fa-youtube{
    margin-top: 6px;
  
 }
.counter{
    margin: 40px 0;
}
.count{
    display: inline-block;
    color: #fff;
    height: 100px;
    width: 110px;
    margin: 0 4px;
    border-radius: 8px;
    background-color:#248257;
    font-size: 18px;
    overflow: hidden;
    padding: 15px 14px 14px 14px;
}
.count span{
    font-size: 37px;
   
}
.count:hover{
    background-color: #3ea03a;
}
.form{
    width: 40%;
    height: 400px;
    background-color: #fff;
    border-radius: 4px;
    margin-left: 5%;
    float: left;
    
    text-align: center;
    margin-top: 2%;
   
}
.form h1{
    padding-bottom: 10px;
}

.feedback-input {
    color:rgb(199, 198, 198);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: rgb(233, 254, 255);
    border:2px solid #cc666600;
    transition: all 0.3s;
    padding: 9px;
    margin-bottom: 10px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 100px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#5edf59;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#0ea032; }
form { max-width:420px; margin:50px auto; }






@media screen and (max-width: 1200px) and (min-width: 769px) {
    
    .container{
        width: 87%;
        height: 100vh;
        background-image: url(bc);
        background-color: #5edf59;
        position: relative;
       
      
        
    }
    .row{
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        display: block;
       
        
        
        
    }
    .content{
        width: 50%;
        height: auto;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 50px;
        float: left;
       
        margin-left: 0%;
        
        
        
    }
    .content h1{
        font-size: 6vw;
        font-weight: 600;
        color: #fff;
    
    }
    .content p{
        color: #fff;
        padding: 0px 50px 0 50px;
        
    }
    .icon{
        display: flex;
        
        width: 100%;
        height: 50px;
        padding-left: 10%;
        margin-top: -4%;
        
    
    }
    a{
        font-size: 25px;
        color: #248257;
        background-color: #f5f7f6;
        margin-right: 15px;
        border-radius: 50%;
        height: 80%;
        width: 40px;
      
        
    }
    a:hover{
        background-color: #3ea03a;
    }
    .fa-facebook-f{
       margin-top: 6px;
       
     
     
    }
    .fa-instagram{
        margin-top: 6px;
      
     }.fa-twitter{
        margin-top: 6px;
      
     }.fa-youtube{
        margin-top: 6px;
      
     }
    .counter{
        margin: px 0;
        width: 100%;
    }
    .count{
        display: inline-block;
        color: #fff;
        height: 17%;
        width: 18%;
        margin: 0 4px;
        border-radius: 8px;
        background-color:#248257;
        font-size: 1vw;
        overflow: hidden;
        padding: 13px 13px 14px 14px;
    }
    .count span{
        font-size: 4vw;
        padding-right: 10px;
       
    }
    .count:hover{
        background-color: #3ea03a;
    }
    .form{
        width: 42%;
        height: auto;
        background-color: #fff;
        border-radius: 4px;
        margin-left: 1%;
        float: left;
        
        text-align: center;
        margin-top: 3%;
       
    }
    .form h1{
        padding-bottom: 1%;
        margin-top: -4%;
        font-size: 3vw;
    }
    
    .feedback-input {
        color:rgb(199, 198, 198);
        font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
        font-size: 100%;
        border-radius: 5px;
        line-height: 22px;
        background-color: rgb(233, 254, 255);
        border:2px solid #cc666600;
        transition: all 0.3s;
        padding: 9px;
        margin-bottom: 10px;
        width:90%;
        box-sizing: border-box;
        outline:0;
      }
      
      .feedback-input:focus { border:2px solid #CC4949; }
      
      textarea {
        height: 100px;
        line-height: 150%;
        resize:vertical;
      }
      
      [type="submit"] {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        width: 90%;
        background:#5edf59;
        border-radius:5px;
        border:0;
        cursor:pointer;
        color:white;
        font-size:2vw;
        padding-top:10px;
        padding-bottom:10px;
        transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
      }
      [type="submit"]:hover { background:#0ea032; }
    form { max-width:420px; margin:50px auto; }
    
    
    
    
}
    
    
   
    



    
    






@media only screen and (max-width: 768px) and (min-width: 100px){
    
    .container{
        width: 87%;
        height: 100vh;
        background-image: url(bc);
        background-color: #5edf59;
        padding-left: 15px;
        
        margin: 0%;
        padding: 0;
}
.row{
    width: 100%;
    top: 30%;
    transform: translateY(-30%);
   padding-bottom: 20px;
   
    
    margin-left: 8%;
}
.content{
    width: 100%;
    height: auto;
    color: rgb(34, 25, 25);
    text-align: center;
    padding-top: 8%;
    float: none;
    margin-left: 0%; 
    padding-right: 0%;
    
}
.content h1{
    font-size: 10vw;
    letter-spacing: 1vw;
    padding-bottom: 1vh;
}
.content p{
    font-size: 2.5vw;
    
    margin-bottom: 1%;
}
.counter{
       
    width:100%;
    margin-top: 10px;
    border: 1px solid red;
    
    
}
.count{
    display: inline-block;
    color: #fff;
    height: 100%;
    width: 15vw;
    margin: 0 3%;
    border-radius: 8px;
    background-color:#248257;
    font-size: 2.5vw;
    overflow: hidden;
   padding: 20px 20px 20px 20px;
    margin-top: 20px;
}
.count span{
    font-size: 5.3vw;
    padding-top: 20px;
}
.icon{
    display: flex;
    margin: auto;
    width: 100%;
    height: 50px;
    padding-left: 15%;
    margin-top: -6%;
    
    

}
a{
    font-size: 25px;
    color: #248257;
    background-color: #f5f7f6;
    margin-right: 15px;
    border-radius: 50%;
    height: 80%;
    width: 40px;
    
  
    
}
.form{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
    
    margin-left: 0%;
    
    text-align: center;
    
    margin-top: 1%;
    padding-right: 1%;
     
}
.form h1{
    padding-bottom: 10px;
    margin-top: -4%;
    font-size: 5vw;
}

.feedback-input {
    color:rgb(199, 198, 198);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 100%;
    border-radius: 5px;
    line-height: 4%;
    height: 6vh;
    background-color: rgb(233, 254, 255);
    border:2px solid #cc666600;
    transition: all 0.3s;
    padding: 9px;
    margin-bottom: 10px;
    width:90%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 100px;
    line-height: 150%;
    
    resize:vertical;
  }
  #ta{
    height: 10vh;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 90%;
    background:#5edf59;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:100%;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#0ea032; }
form { max-width:100vw; margin:50px auto; }

}